body{
    background-color: rgb(226, 219, 219);
}
.box{
    border: 1px soild black;
    background-color:rgb(42, 37, 28);
    height: 50px;
}
ol{
    float:right;
}
ol li{
    float:left;
    width: 150px;
    position: relative;
    list-style-type: none;
    font-family: barlow condensed,sans-serif;
    font-size: 18px;
}
ol li a{
    text-decoration: none;
    color: white;
}
ol li a:hover{
    border-bottom:4px solid red ;
}
h2{
    color: rgb(250, 254, 2);
    position: absolute;
    left: 10%;
    font-family: barlow condensed;
    margin-top: 8px;
    font-size: 30px;

}
.box img{
    height: 40px;
    width: 40px;
    margin-left: 80px;
    margin-top: 5px;
}
.cover img{
    background-size: cover;
    height: 650px;
    width: 1000px;
}
.text{
    position: absolute;
    top: 10%;
    left: 67%;
}
h1{
    font-size: 70px;
    font-family: barlow condensed,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    color: rgb(255, 34, 0);
    text-transform: capitalize;
    font-weight: normal;

}
h3{
    font-size: 40px;
    font-family: barlow condensed;
    width: 500px;
    color: rgb(0, 0, 255);
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-family: barlow condensed, sans-serif;
    width: 500px;
    color: rgb(3, 3, 3);
    font-weight: bold;
}
font{
    color: red;
    font-size: 30px;
}