body{
    background-color: rgb(226, 219, 219);
}
.box{
    border: 1px soild black;
    background-color:rgb(42, 37, 28);
    height: 50px;
}
h2{
    font-size: 30px;
    font-family: barlow condensed;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    margin-top: 8px;
    left: 45%;
}
h3{
    text-align: center;
    font-size: 40px;
    font-family: barlow condensed;
}
font{
    color: rgb(8, 115, 4);
}
p{
    font-size: 25px;
    text-align: center;
    font-family: barlow condensed;
}
.table th{
    width: 1000px;
    font-size: 25px;
    font-family: barlow condensed,sans-serif;
}
.table td{
    width: 1000px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-family: barlow condensed, Arial, Helvetica, sans-serif;

}
.table img{
    background-size: cover;
    height: 150px;
    width: 150px;
}
.button p{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-left: 600px;
}
h1{
    font-size: 40px;
    font-family: barlow condensed;
    color: rgb(248, 1, 1);
    font-weight: bold;
    text-align: center;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #30d056;
    border: none;
    color: #080808;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 16px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 800px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }